.header__container{
    background-color: #F4ECDE;
    position: sticky;
    top: 0;
    z-index: 999;

}
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    max-width: 1000px;
    place-items: center;
    margin-left: auto;
    margin-right: auto;
}
.logo{
    width: 20px;
    
}
.logo img{
    width: 100px;
}
.menus{
font-size: 20px;}

.header__black{
    background-color: transparent;
    box-shadow: 2px solid rgba(0, 0, 0, 0.3);
}